.product-info-container {
    width: 25rem;
    height: 600px;
    @include flexColumn;
    gap: 50px;
}

.product-title {
    font-size: 2.25rem;
}

.product-info {
    @include flexColumn;
    gap: 10px;

}

.product-category {
    color: $gray-light;
    font-weight: 300;
    font-size: 1rem;
}

.size-container {
    @include flexColumn;
    gap: 10px;
}

.product-price {
    background-color: $foreground-primary;
    color: $background-primary;
    width: 6.5rem;
    text-align: center;
    padding: 4px;
    font-size: 3rem;
    font-weight: 1000;
    border-radius: 5px;
}

.product-description {
    color: $gray-light;
}

.submit-button {
    @include buttonStyleSpecial;
    text-transform:uppercase;
}

.qty-btn {
    cursor: pointer;
}