.product-carousel {
    width: 500px;
    height: 600px;
    border-radius: 10px;
}

.product-carousel-image {
    width: 500px;
    height: 500px;
    object-fit: cover;
    border-radius: 10px;
}

.carousel-thumbs {
    padding-top: 10px;
    visibility: visible !important;
}

.product-carousel-image-small {
    border-radius: 8px;
    object-fit: cover;
    height: 110px;
    width: 100px;
}

@media (max-width: 768px) {
    .product-carousel, .product-carousel-image {
        width:400px;
        height: 480px;
    }
}