.product-view-container {
    @include flexCenterRow;
    gap: 30px;
    flex-wrap: wrap;
    margin-bottom: 100px;
    margin-top: 100px;
    overflow: hidden;
}

.product-visuals-container {
    @include flexCenterRow;
    gap: 20px;
    flex-wrap: wrap-reverse;
}

.single-product-container {
    @include flexCenterRow;
    background-color: $background-primary;
    color: $foreground-primary;
}
