@import 'base/colors';
@import 'base/animations';
@import 'base/mixins';
@import 'base/typography';
@import 'components/Header/header';
@import 'components/LoginForm/loginForm';
@import 'components/Items/itemCard';
@import 'components/Items/items';
@import 'components/ProductRender/productRender';
@import 'components/Product/product';
@import 'components/Product/productInfo';
@import 'components/Product/productAction';
@import 'components/Product/productCarousel';
@import 'components/newsCarousel/newsCarousel';
@import 'components/Footer/footer';
@import 'components/Footer/song';
@import 'components/Profile/profile';
@import 'components/Profile/admin';
@import 'components/Cart/cart';
@import 'components/Checkout/checkout';
@import 'components/Categories/categories';
@import 'icons/icons';

*{
    margin: 0;
    font-family: $font-primary;
}

a {
    all: unset;
    cursor: pointer;
}

.container {
    background-color: $background-primary;
    padding-top: 50px;
    padding-bottom: 50px;
}

::selection {
    color: $background-primary;
    background: $green-light;
}

.error-message {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
}