@import 'base/colors';
@import 'base/animations';
@import 'base/mixins';
@import 'base/typography';
@import 'components/Header/header';
@import 'components/LoginForm/loginForm';
@import 'components/Items/itemCard';
@import 'components/Items/items';
@import 'components/ProductRender/productRender';
@import 'components/Product/product';
@import 'components/Product/productInfo';
@import 'components/Product/productAction';
@import 'components/Product/productCarousel';
@import 'components/newsCarousel/newsCarousel';
@import 'components/Footer/footer';
@import 'icons/icons';

*{
    margin: 0;
    font-family: $font-primary;
}

a {
    all: unset;
    cursor: pointer;
}