$animation-moving-text-duration: 30s;
$animation-main-duration: 0.15s;

@keyframes RightToLeft {
    from {
        transform: translateX(0%);
        
    }
    to {
        transform: translateX(-50%);
    }
}

@keyframes bigToSmall {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes gradientScroll {
    0%{background-position:0% 68%}
    50%{background-position:100% 33%}
    100%{background-position:0% 68%}
}