$background-primary: #010501;
$foreground-primary: #f5fff4;
$background-secondary: #090909;
$gray-light: #cacaca;
$gray-dark: #1a1a1a;
$green-primary: #5DFF54;
$green-mid: #94ff8e;
$green-light: #C5FFC1;
$green-dark: #079100;
$yellow-dim: #E9FFCD;
$gray-mid: #727272;


