.header {
    color: $foreground-primary;
    font-family: $font-primary;
    background-color: $background-primary;
    @include flexSpaceBetween;
    flex-wrap: nowrap;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 25px;
    padding-left: 25px;
}

.header-action-btn {
    @include buttonStyle;
    font-size: 18px;
}

.user-actions {
    @include flexCenterRow;
    gap: 10px;
}

.cart-header-icon {
    position: relative;
}

.cart-amount {
    position: absolute;
    bottom: 0;
    right: -8px;
    background-color: $green-primary;
    color: $background-primary;
    padding: 0.1rem;
    padding-bottom: 0.2rem;
    width: 1.3rem;
    height: 1.2rem;
    align-content: center;
    text-align: center;
    border-radius: 50%;
    transform: scale(0.8);
    font-weight: 900;
}
