.categories-outer-container{
    background-color: $background-primary;
    color: $foreground-primary;
    padding-bottom: 10px;
    padding-top: 10px;
}

.categories {
    @include flexCenterRow;
    gap: 3rem;
}

.category-btn {
    @include buttonStyle;
    font-size: 23px;
    line-height: 28px;
}

.active-category {
    color: $background-primary;
    background-color: $green-mid;
    &:hover {
        cursor: default;
        animation: none;
        background-color: $green-mid;
    }
}