.three-container {
    cursor: crosshair;
    border-radius: 10px;
    overflow: hidden;
    &:active {
        cursor:grabbing;
    }
    border: 1px solid white;
    canvas {
        width: 500px;
        height: 500px;
    }
}

@media (max-width: 768px) {
    .three-container {
        margin-top: 120px !important;
    }
}