.cart-container {
    @include flexColumn;
    align-items: center;
    background-color: $background-primary;
    color: $foreground-primary;
    min-height: 70vh;
}

.cart-item {
    @include flexRow;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 5px;
    gap: 20px;
    height: 100px;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
    &:hover {
        background-color: lighten($gray-dark, 10);
    }
}

.cart-item-info-secondary {
    @include flexColumn;
    color: $gray-light;
}

.cart-item-name {
    font-size: 30px;
}

.cart-item-desc {
}

.cart-item-qty {
}

.cart-item-price {
    font-size: 30px;
    background-color: $foreground-primary;
    color: $background-primary;
    font-weight: 700;
    padding: 5px;
    
}

.cart-item-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 20px;
}

.remove-from-cart {
}

.cart-item-info {
    @include flexRow;
    justify-content: space-between;
    min-width: 300px;
    width: 100%;
}

.cart-item-info-primary {
    @include flexColumn;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cart-items-container {
    @include flexColumn;
    gap: 20px;
}

.remove-from-cart {
    all: unset;
    color: $foreground-primary;
    transition: all 0.1s ease-in-out;
    padding: 8px;
    font-size: 30px;
    cursor: pointer;
    line-height: 10px;
    &:hover {
        background-color: $foreground-primary;
        color: $background-primary;
    }
}

.cart-cost-container {
    @include flexCenterRow;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.total-cost {
    @include flexCenterRow;
    gap: 10px;
    align-self: flex-start;
}

.checkout-btn {
    align-self: flex-end;
}

.cart-item-size, .cart-item-qty {
    color: $gray-light;
}

.cart-item-container {
    @include flexCenterRow;
    gap: 1rem;
    border-radius: 10px;
    background-color: $gray-dark;
    padding: 15px;
}

.cart-title {
    text-align: center;
}